@model OnlineCasinoWebClient.Models.UserModel

@{
    ViewBag.Title = "Profile";
}
@if (TempData["message"] != null)
{
    <script>

$(document).ready(function(){

alert('@TempData["message"].ToString()');

});

    </script>
    @(TempData["message"] = null)
}

<div class="container">
    <div class="row">
        <div class="col-md-6  toppad  pull-right col-md-offset-3 ">
            <br>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-8 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-2 toppad">

            <div class="panel panel-info">
                <div class="panel-heading"></div>
                <div class="panel-body" >
                    <div class="row">
                        <div class="col-md-3 col-lg-3 " align="center"> <img alt="Account Information" src="../Assets/UserAvatar.png" class="img-circle img-responsive"> </div>
                        <div class=" col-md-9 col-lg-9 ">
                            <table class="table table-user-information">
                                <tbody>
                                    <tr>
                                        <td>Username:</td>
                                        <td>@Model.Username</td>
                                    </tr>
                                    <tr>
                                        <td>Full Name:</td>
                                        <td>@Model.FullName</td>
                                    </tr>
                                    <tr>
                                        <td>Email</td>
                                        <td><a href="mailto:info@support.com">@Model.Email</a></td>
                                    </tr>
                                    <tr>
                                        <td>Wallet</td>
                                        <td>@($"{@Model.Money:N2}")</td>
                                    </tr>
                                </tbody>
                            </table>

                            <a href="profile/edit" class="btn btn-primary">Edit Profile</a>
                            <a href="profile/deposit" class="btn btn-primary">Deposit</a>
                            <div class="pull-right">
                                <a href="profile/changePassword" title="Change password" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
                                <a href="" title="Delete account" data-title="Do you want to delete your account?" data-toggle="confirmation" type="button" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

