<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Assets/favicon.ico" rel="shortcut icon" type="image/ico" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Styles/animate.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/global.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.keyframes.min.js"></script>
    <script src="~/Scripts/jquery-cookie.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap-notify.min.js"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/bootstrap-confirmation.js"></script>
    @if (IsSectionDefined("AddToHead"))
    {
        @RenderSection("AddToHead", required: false)
    }
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">

            <div class="navbar-header">
                <a class="navbar-brand" href="@Url.Action("Index", "Home")" title="Online Casino">
                    <img alt="List View" src="@Url.Content("~/Assets/CasinoLogo.png")">
                </a>
            </div>
            @Html.Action("UserProfile", "Profile")

        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p class="text-center">&copy; @DateTime.Now.Year - Online Casino</p>
        </footer>
    </div>
</body>
@if (IsSectionDefined("AddToBottom"))
{
    @RenderSection("AddToBottom", required: false)
}
</html>